/** Override django base.css and form.css so the preview can be aligned with the textarea */

.wmd-preview {margin: 1em 0 1em 105px; width: 615px; border: 1px dashed #999;}
form .wmd-preview code, form .wmd-preview p,
form .wmd-preview hr, form .wmd-preview h1,
form .wmd-preview h2, form .wmd-preview ul,
form .wmd-preview ol {
    margin-left: 0; padding-left: 5px;
}

form .wmd-preview ul, form .wmd-preview ol {margin-left: 2em;}
form .wmd-preview code, form .wmd-preview pre {padding-left: 20px; background-color: #efefef; }
form .wmd-preview p {line-height: 25px; }
form .wmd-preview blockquote { border-left: none; padding:0 !important; margin: 0 !important;}
form .wmd-preview h1, form .wmd-preview h2 {background: none; color: #333;}
form .wmd-preview h1 {font-size: 20px;}
form .wmd-preview h2 {font-size: 18px;}
form .wmd-preview hr {padding-left: 5em;}